/* Reset HACERLO SIEMPRE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html{
    font-family: 'Roboto Condensed', sans-serif; 
    
} */

/* Ejemplo */
/* header */
header {
    background-color: #e7deed;
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; */
}

header .logo {
    display: none;
}

header #btn_menu {
    display: none;
}

header label {
    display: none;
}

header label:hover {
    cursor: pointer;
}

header img {
    width: 100px;
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 20px;
    margin-bottom: 0;
}

header nav ul li a {
    text-decoration: none;
    font-size: 20px;
}

/* main */
section {
    margin-top: 40px;
}

section h1 {
    margin: 40px;
    font-size: 50px;
    text-align: center;
}

section h2 {
    /* margin: 40px;
    font-size: 50px; */
    text-align: center;
}

.contenedor-flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 60px;
}

.card {
    width: 350px;
    height: 400px;
}

.card img {
    width: 100%;
    height: 200px;
    background-color: #393b4328;
    border-radius: 20px 0px;
    overflow: hidden;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 180px;
    padding: 10px;
    margin-top: 30px;
}

.mapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Footer */
.link {
    color: #393b4328;
    list-style: none;
    display: flex;
    padding: 10px;
    margin-left: 50px;
    flex-direction: column;
}

/* seccion banner */
.banner {
    height: 450px;
    background-image: url(./../assets/sweetflorida.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .text {
    color: black;
    font-size: 35px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner .text a {
    text-decoration: none;
    color: black;
    background-color: #e8c57e;
    border-radius: 15px;
    font-size: 18px;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}

.banner .text a img {
    width: 18px;
    padding-left: 5px;
}

/*  debajo del banner nosotros */
.nosotros {
    display: flex;
    margin: 50px 40px;
    justify-content: space-around;
    column-gap: 30px;
}

.nosotros div {
    width: 400px;
}

.nosotros div img {
    width: 100%;
    height: 100%;
}

.nosotros-text {
    /* font-family: 'Montserrat', sans-serif; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.nosotros-text h2 {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
}

.nosotros-text p {
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
}

/* estilos html catalogo */
.main-nosotros section {
    gap: 20px;
    margin-top: 30px;
}

.main-nosotros section .card {
    padding-left: 0;
    padding-right: 0;
}

.main-nosotros section .card .card-body {
    background-color: #e7deed;
    color: black;
    text-align: center;
}

.btn {
    background-color: #e8c57e;
    color: #ffffff;
    border: 2px solid transparent;
}

.btn:hover {
    border: 2px solid #e8c57e;
}

.card-img-top {
    width: 40px;
}

/* Media Queries */
/* @media screen  and (max-width: 1024px){ */
@media screen and (max-width: 768px) {
    .nosotros {
        flex-direction: column;
        align-items: center;
    }

    .nosotros-text {
        text-align: center;
    }

    .nosotros div {
        width: 80vw;
    }

    .contenedor-flex {
        flex-direction: column;
        align-items: center;
    }

    .card-text {
        text-align: center;
    }

    .card {
        width: 80vw;
    }

    /* header */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .logo {
        display: block;
        width: 100px;
        margin-left: 25px;
    }

    .logo-hidden {
        display: none;
    }

    header label {
        display: block;
        position: relative;
        right: 25px;
    }

    header label img {
        width: 50px;
    }

    .menu {
        position: absolute;
        top: 100px;
        background-color: #e7deed;
        visibility: hidden;
        width: 100vw;
        z-index: 1;
    }

    .menu ul {
        flex-direction: column;
    }

    #btn_menu:checked~.menu {
        visibility: visible;
    }
}